body {
	background-color:#e5d1ff;
	border: 30px solid transparent;
	padding: 15px;
	border-image: url(border.png) 40 stretch;
	margin: 0;
}
.left_half {
	float: left;
	width: 49%;
	height: 100%;
	border-style: solid;
}
.right_half {
	float: right;
	width: 49%;
	height: 100%;
	border-style: solid;
}
.hidden {
	visibility: hidden;
}
.shown {
	visibility: visible;
	border-style: soild;
}
#card2 {
	position: absolute;
	height: calc(100% - 90px);
	left: 45px;
}
#button1 {
	left: 100px;
	background: #5c591e;
}
#button2 {
	left: 235px;
	background: #82261e;
}
button {
	top: 370px;
	position: absolute;
	height: 100px;
	width: 135px;
	z-index: 1;
	border-style: solid;
	border-color: black;
	border-radius: 5px;
	font-family: lucida calligraphy;
	font-size: 37px;
}
.raise {
	z-index: 1;
}
